{% extends "base_generic.html" %}

{% block title %}<title>Местная Библиотека</title>{% endblock %}

{% block content %}
<h1>Домашняя страница Местной Библиотеки</h1>

    <p>Добро пожаловать в <em>Местную Библиотеку</em>, очень простой веб-сайт на Django, разработанный в качестве
    примера на Mozilla Developer Network.</p>


<h2>Динамическое содержимое</h2>

    <p>В библиотеке содержатся следующие записи:</p>
    <ul>
        <li><strong>Книги:</strong> {{ num_books }}</li>
        <li><strong>Копии:</strong> {{ num_instances }}</li>
        <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
        <li><strong>Авторы:</strong> {{ num_authors }}</li>
        <li><strong>Количество жанров:</strong> {{ num_genres }}</li>
        
    </ul>
    <p>Количество книг с ключевым словом "Coraline" в заголовке: {{ book_keyword_count }}</p>
    <p>Количество жанров с ключевым словом "Детектив" в заголовке: {{ genre_keyword_count }}</p>

    <p>
        Вы посетили эту страницу {{ num_visits }}
        {% if num_visits == 1 or num_visits > 4 %} 
        раз
        {% else %} 
        раза
        {% endif %}
    </p>

{% endblock %}